.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 0.1rem;
}

.home__grid {
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 72% auto;
}

.eventCircle {
    display: flex;
    flex-direction: columnn;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 14px;
    width: 40px;
    height: 40px;
    background-color: var(--text-grey);
    border-radius: 40px;
    margin: 5px 10px 0 0;
    color: #fff;
}

.eventCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;

}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.container_event_body {
    padding: 10px 20px;
}

.button_register {
    border-radius: 13px;
    background-color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 15px;
    margin: 0;
    color: var(--background-dark-color);
}

.stats__container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    flex-wrap: wrap;
    background-color: white;
    line-height: 1.5;
    padding: 1rem;
    border-radius: 13px;
    align-items: center;
}

.stats__left {
    border-right: 2px solid #f9f9f8;
    padding-right: 25px;
}

.stats__left {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    /* width: 45%; */
    -webkit-box-pack: justify;
}

.stats__right {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 auto;
}

.inner__card {
    background-color: #f9f9f8;
    padding: 10px;
    margin-top: 10px;
    border-radius: 13px;
    margin-left: 10px;
}



.stats__extra__value__list,
.inner__card__value {
    padding: 10px 10px;
    margin-bottom: 0;
    color: #929290;
}

.home__grid .cards__container__votes .card__single .icon {
    top: 0 !important;
}

.home__grid .cards__container__votes .card__single {
    padding: 16px 8px;
}

.home__grid .cards__container__votes .card__single span {
    font-size: 0.9rem;
}

.stats__left__value {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

.stats__info {
    text-align: left;
    white-space: pre-line;
    font-size: 16px;
    /* width: 45%; */
}

.rs-list-item:nth-child(even) {
    background-color: #f9f9f9;
}

.rs-list-item {
    -webkit-box-shadow: 0 0px 0 #e5e5ea, 0 0px 0 #e5e5ea !important;
    -webkit-box-shadow: 0 0px 0 var(--rs-list-border), 0 0px 0 var(--rs-list-border) !important;
    box-shadow: 0 0px 0 #e5e5ea, 0 0px 0 #e5e5ea !important;
    box-shadow: 0 0px 0 var(--rs-list-border), 0 1px 0 var(--rs-list-border) !important;
}

.rs-progress-line {
    padding: 2px 12px !important;
}

@media only screen and (max-width: 1300px) {
    .home__grid {
        grid-template-columns: 100%;
    }
    .stats__left {
        border-right: 0px solid #f9f9f8;
       
    }
}

@media only screen and (max-width: 960px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .stats__info {
        text-align: left;
        white-space: normal;
    }

    .home__grid {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .home__grid {
        grid-template-columns: 100%;
    }
    .stats__left {
        border-right: 0px solid #f9f9f8;
       
    }
}

@media only screen and (max-width: 560px) {
    .cards {
        grid-template-columns: 100%;
    }
    .stats__left {
        border-right: 0px solid #f9f9f8;
       
    }
}