.recordCard {
    background: #f2f3f5;
    border-radius: 13px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 5px;

}

.img__container {
    padding: 10px 5px;
    cursor: zoom-in;
    width: 200px;
    height: 200px;
}

.image-contain {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .info__container{

} */

.actions__section {
    display: flex;
    justify-content: space-between;

}

.button__action {
    background: var(--background-dark-color);
    border-radius: 8px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--background-dark-color);
    margin: 0px 5px;
}


.icon {
    margin-top: -2px;
}

.line {
    margin-bottom: 10px;
    margin-top: 5px;
}

.witnessName {
    font-weight: bold;
    color: var(--background-dark-color);
}

/* .site{

} */

.votes {
    font-weight: bold;
    color: var(--background-dark-color);
    margin-right: 3px;
}
.count{
    font-weight: bold;
    margin-top:-5px;
    font-size: 20px;
}
.inspector{
    margin-top: 0;
    font-weight: bold;
    color: var(--background-dark-color);
    margin-right: 3px;
}


.container-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.7fr 1fr;
}

@media screen and (max-width: 992px) {
    .container-2 {
        grid-template-columns: 100%;
    }
}