.record__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-height: 1200px;
    overflow: scroll;
}

.page__grid {
    margin-top: 1.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 75% auto;
}

.cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}


.cards__container .card__single,
.cards__container .card__single div:last-child,
.cards__container .card__single div:first-child {
    background-color: var(--background-dark-color);
    color: #fff !important;
}


.cards__container__votes .card__single {
    padding: 8px 8px;
    width: 100%;
}

.cards__container__votes .card__single h1 {
    font-size: 1.5rem;
    line-height: 42px;
}

.cards__container__votes .card__single span {
    font-size: 0.7rem;
}

.cards__container__votes .card__single .icon {
    top: -5px;
}



@media only screen and (max-width: 1300px) {
    .page__grid {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .page__grid {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .page__grid {
        grid-template-columns: 100%;
    }
}