.statistics__Container-2 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 0 10px 0 10px;
    grid-template-columns: repeat(2, 1fr);
}

.statistics__Container-3 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 10px 10px 0 10px;
    grid-template-columns: repeat(3, 1fr);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .statistics__Container-2 .statistics__Container-3 {
        grid-template-columns: 100%;
    }
}