@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

/* Global color definition */
:root {
  --background-clear-color: #f3f6fd;
  --background-dark-color: #1b2431;
  --main-bg-color: #00296B;
  --second-bg-color: #003F88;
  --primary-color: #00509D;
  --secundary-color: #FFD500;
  --black-color: #000;
  --white-color: #fff;
  --text-grey:  #8390A2;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins' ,sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-dark-color);
  /* background: linear-gradient(120deg, var(--white-color), var(--primary-color));    */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container__component {
  background: #fff;
  border-radius: 13px;
}
.container__header{
  padding: 1rem;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.container__header button {
  background: var(--background-dark-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--background-dark-color);
}

/* 
table {
  border-collapse: collapse;
}

thead tr {
  border-top: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;

}

thead td {
  font-weight: 700;
}

td {
  padding: .5rem 1rem;
  font-size: .9rem;
  color: #222;

}

tr td:last-child {
  display: flex;
  align-items: center;


}



.table-responsive {
  width: 100%;
  overflow-x: auto;
} */