.contianer_actions {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
}

.contianer__voter__actions{
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right:10px;
}

@media only screen and (max-width: 960px) {
    .contianer_actions {
        grid-template-columns: auto;
    }
}


@media only screen and (max-width: 768px) {
    .contianer_actions {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .voter__action{
        flex: 1 0 50px;
    }
}